.task {
  * {
    color: var(--text-color1);
  }

  .tasks-grid {
    * {
      background-color: var(--bg-color);
    }
    a{
        color: var(--blue);
    }
  }
}

.new-task {
  * {
    color: var(--text-color1);
    border-color: white;
  }
}
